* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.background {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.background::before {
  content: "";
  background-image: url(IMG_1310\ conv.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* opacity: 0.6; */
}
.trans {
  margin-left: 20%;
  width: 60%;
  height: 80vh;
  background: gray;
  opacity: 0.9;
  z-index: 10;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* text-transform: uppercase; */
}

.text-box {
  line-height: 30px;
  width: 80%;
  color: black;
  font-size: 30px;
  font-family: "times new roman";
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;

  padding: 0 100px;
}
